/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);
body {
	background-image: url(../img/texture-light.png);
	background-repeat:repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	width: 80%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;


}


.logo{
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}

.free-shipping{
	float: right;
}


.content-box {
	width: 80%;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 2px 2px 6px #555;
	overflow: hidden;
	padding: 10px;
}
.motto {
	font-size: 36px;
	font-family: "Boogaloo";
	font-weight: bold;
	color: #116189;
}
.motto:hover {
	color: #CCC;
}

.factory {
	float: left;
	margin-right: 20px;
}
.title {
	font-size: 20px;
	font-family: lorem;
	font-weight: bold;
	color: #116189;
}


.footer {
	border-top: thin solid gray;
	font-style: italic;

}

.person {
	float: left;
	margin-right: 20px;
}

nav{
	width: 100%;
}

nav ul {
	background-color: #FF7800;
	width: 100%;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;

}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 110%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	background-color: #FF9A40;
	border-radius: 5px;
}
a {
	text-decoration: none;
}